.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .page-container .page-content {
    flex: 1;
    -webkit-box-flex: 1; }

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #0f1112; }

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #22272b; }
  .spinner-container .spinner {
    color: #ccac5b; }

.counter {
  text-align: left; }
  .counter__button {
    color: #ccac5b;
    border: 2px solid #ccac5b;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color: #0f1112;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3%; }
    .counter__button:hover {
      cursor: pointer;
      background: transparent;
      border-color: #666666;
      color: #666666; }
    .counter__button:focus {
      outline: none; }
