@import '../App.scss';

.counter {
	text-align: left;
	&__button {
		color: $desert;;
		border: 2px solid $desert;
		@include border-radius(20px);
		background-color: $almost-black;;
		@include font-sml;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 3%;
		&:hover {
			cursor: pointer;
			background: transparent;
			border-color: $brownish-grey;
			color: $brownish-grey;
		}
		&:focus {
			outline: none;
		}
	}
}