@import '../App.scss';

.list__hero {
	background: url('../assets/moon.png') center/auto no-repeat;
	background-size: 50%;
	background-color: $almost-black;
	text-align: center;
	height: 70vh;
	margin: 0;
	padding: 0;
	position: relative;
	&-logo {
                background-image: url("../assets/logo.png");
                background-repeat: no-repeat;
                background-size: contain;
                height: 70px;
                width: 600px;
                padding: 0;
                text-align: center;
                right: 0;
                left: 7%;
                bottom: 100px;
                margin: auto;
                position: absolute;
	}
	&-text {
		margin: 0;
		@include font-sml-semibold;
		color: $cool-grey;
		font-weight: 400;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 50px;
	}
}