.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .page-container .page-content {
    flex: 1;
    -webkit-box-flex: 1; }

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #0f1112; }

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #22272b; }
  .spinner-container .spinner {
    color: #ccac5b; }

.list {
  background-color: #0f1112;
  padding: 0;
  margin: 0;
  padding-bottom: 10vh;
  color: #a7a9ac; }
  .list h1, .list h2 {
    text-align: center; }
