@import '../App.scss';

.list {
	background-color: $almost-black;
	padding: 0;
	margin: 0;
	padding-bottom: 10vh;
	color: $cool-grey;
	&__noresults, &__error {
		text-align: center;
	}
	.spinner-container {
		height: 20vh;
		background-color: $almost-black;
		margin-bottom: 10vh;
	}
}