@import '../App.scss';

.footer {
	background-color: $dark-grey;
	padding: 2%;
	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		padding: 0;
		.header_sml_brownish {
			border-right: 1px solid $brownish-grey;
			padding-right: 1rem;
		}
		.header_sml_cool {
			padding-right: 1rem;
		}
	}
	.header_sml_brownish_right {
		text-align: right;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.footer {
		&__links {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.header_sml_brownish {
				border: none;
			}
		}
	}
	.header_sml_brownish_right {
		text-align: right;
		margin-bottom: 0;
	}

}

@media (max-width: 767px) {
	.footer {
		&__links {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.header_sml_cool {
				padding-left: 10px;
			}
		}
		.header_sml_brownish_right {
			text-align: center;
		}
	}

}