.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .page-container .page-content {
    flex: 1;
    -webkit-box-flex: 1; }

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #22272b; }
  .spinner-container .spinner {
    color: #ccac5b; }

.page-footer {
  background-color: #22272b;
  -webkit-box-flex: 0;
  flex: 0 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  font-size: 14px; }
  .page-footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 5%;
    min-width: 768px;
    max-width: 1700px; }
  .page-footer__social-follow::after {
    content: "|";
    padding: 0 10px; }
  .page-footer__social-links {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
  .page-footer__social-link {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #a7a9ac;
    padding-right: 1rem;
    display: inline-block;
    font-size: 14px; }

@media (max-width: 767px) {
  .page-footer {
    padding: 2% 0; }
    .page-footer__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      min-width: 100vw;
      max-width: 100vw; }
    .page-footer__social-follow {
      display: block; }
    .page-footer__social-links {
      display: block; }
    .page-footer__right {
      display: block; } }
