@import '../App.scss';

.page-footer {
	background-color: $dark-grey;
	-webkit-box-flex: 0;
	flex: 0 0;
	text-transform: uppercase;
	@include font-sml;
	color: $brownish-grey;
	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		padding: 0 2%;
		min-width: 768px;
   		max-width: 1600px;
    }
    &__social-follow {
		&::after {
			content: "|";
			padding: 0 10px;
    	}
	}
	&__social-links {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__social-link {
		@include font-sml;
		color: $cool-grey;
		padding-right: 1rem;
		display: inline-block;
	}
}

@media (max-width: 767px) {
	.page-footer {
		padding: 2% 0;
		&__content {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			min-width: 100vw;
			max-width: 100vw;
		}
		&__social-follow {
			display: block;
		}
		&__social-links {
			display: block;
		}
		&__right {
			display: block;
		}
	}
}