.header {
  font-size: 14px;
  color: #ccac5b;
  background-color: #0f1112;
  letter-spacing: 9px;
  text-transform: uppercase;
  height: 5em;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header .back {
    color: #ccac5b;
    font-size: 30px; }
  .header a.logo {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    display: inline-block;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    background-size: contain;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0; }
    .header a.logo:hover {
      cursor: pointer; }
