@import '../App.scss';

.header_sml_semibold_cool {
	@include font-sml-semibold;
	color: $cool-grey;
	margin-top: 10%;
}

.header_big {
	@include font-big;
	color: $almost-black;
}

.patch {
	padding-top: 7%;
}