.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .page-container .page-content {
    flex: 1;
    -webkit-box-flex: 1; }

.header_sml_semibold_cool {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 18px;
  text-transform: uppercase;
  color: #a7a9ac;
  margin-top: 10%; }

.header_big {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #0f1112; }

.patch {
  padding-top: 7%; }
