.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .page-container .page-content {
    flex: 1;
    -webkit-box-flex: 1; }

.list__hero {
  background: url("../assets/moon.png") center/auto no-repeat;
  background-size: 50%;
  background-color: #0f1112;
  text-align: center;
  height: 85vh;
  margin: 0;
  padding: 0;
  position: relative; }
  .list__hero-logo {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 600px;
    padding: 0;
    text-align: center;
    right: 0;
    left: 7%;
    bottom: 100px;
    margin: auto;
    position: absolute; }
  .list__hero-text {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 18px;
    text-transform: uppercase;
    color: #a7a9ac;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px; }
