$white: #ffffff;
$almost-black: #0f1112;
$brownish-grey: #666666;
$desert: #ccac5b;
$dark-grey: #22272b;
$cool-grey: #a7a9ac;

@mixin font-big {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
@mixin font-sml-semibold {
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 18px;
	text-transform: uppercase;
}
@mixin font-sml {
	font-weight: 400;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}
@mixin font-exp-semibold {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 9px;
}
@mixin font-basic {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.page-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .page-content {
		flex: 1;
		-webkit-box-flex: 1;
	}
}
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
	background-color: $almost-black;
}
.spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
	background-color: $dark-grey;
	.spinner {
		color: $desert;
	}
}